@import "tailwindcss";







@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-accent: var(--accent);
  --color-muted: var(--muted);

  --color-card: var(--card);
  --color-card-soft: var(--card-soft);

  --color-border: var(--border);
  --color-shadow: var(--shadow);
}

@layer base {

  /* Light mode — Golden Glow */
  :root {
    --background: #ffffff;
    --card: #dcdbdb;
    --card-soft: #eff3f4;

    --foreground: #1A1A1A;
    --muted: #666666;

    --primary: #C9A24D;
    --primary-foreground: #FFFFFF;
    --accent: #8A6A2B;

    --border: #EFEFEF;
    --shadow: 1px 6px 16px rgba(0, 0, 0, 0.1);
  }

  /* Dark mode — safe & premium */
  .dark {
    /* --background: #0f172a;    
  --card: #27364d;           
  --card-soft: #334155; 

    --foreground: #F5F5F5;
    --muted: #A1A1A1;

    --primary: #D4B35F;
    --primary-foreground: #1A1A1A;
    --accent: #B89A4A;

    --border: #2A2A2A;
    /* --shadow: 1px 6px 16px 0px rgba(0, 0, 0, 0.1); */
    /* --shadow: 0 4px 20px rgba(255, 255, 255, 0.05);  */
    /* --background: #0B1C2D; */
    --background: #080d34;
    --card: #323252;
    --card-soft: #0e0e1f;
    --foreground: #f3f8fc;
    --muted: #9BA3AF;

    --primary: #4F9CF9;
    --primary-foreground: #FFFFFF;

    --accent: #7DD3FC;
    /* Soft cyan highlight */

    --border: #2C2C30;
    /* Subtle charcoal border */
    --shadow: 0px 8px 24px rgba(0, 0, 0, 0.4);
  }
}




/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
